* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(126, 126, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: rgb(78, 79, 94);
    width: 700px;
    border-radius: 10px;
}

.quiz-header {
    padding: 30px;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

ul {
    padding: 0;
}

ul li {
    font-size: 20px;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: green;
    color: white;
    display: block;
    border: none;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    padding: 7px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}
