* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(rgb(100, 100, 100, 0.1));
    width: 600px;
}

.quiz-header {

}

h2 {

}

ul {

}

ul li {

}

ul li div {

}

button {

}

button:hover {

}

button:focus {

}